body{
  margin: 0;
}

.header{
  height: 500px;
  width: 100%;
  background-color: antiquewhite;
  margin: 0px;
  padding: 0px;
  background-image: url("./Assets/pexels-padrinan-255379.jpg");
  background-size: 100% 100%;
}

.heading{
  text-align: center;
  padding-top: 30px;
}

.header-description{
  text-align: center;
  padding-top: 30px;
}